<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Secret Wall" %></title>

    <%= stylesheet_link_tag    "application.css" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
<style type="text/css">
h1 {
  display: inline-block;
  font-family: 'Lora', serif;
}
#message {
  display: inline-block;
  margin-left: 15%;
}
#login {
  float: right;
  position: relative;
  margin-top: 5px;
}
.register {
  text-align: center;
}
#logout {
  position: relative;
  float: right;
  margin-top: -50px;
}
#login_form {
  margin-top: 5px;
  float: right;
}
body {
  margin: 1rem; 
  font-family: 'Lora', serif;
}

.alert-box {
  background-position: 2% 7px;
  background-repeat: no-repeat;
  background-size: auto 2rem;
  background-color: #fff;
  border: 0;
  text-align: left;
  padding-left: 4rem; }
  .alert-box .close {
    background: none; }
  .alert-box.alert {
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAARVBMVEX////7y0P7y0P7y0P7y0P7y0P7y0P7y0P7y0P7y0P7y0P7y0P7y0P7y0P7y0NAQECdhUHYsUKGdEG1l0JLSEBuYkHkukPKU8NPAAAADnRSTlMA4EDAoCAQ8IBgkDDQUFItelQAAAC0SURBVHherZBLDsMwCAVD7Nj5gvPr/Y/a0FpGLTibdnbozQJN829agPZu7/CiuxE8C76+T/hiqgruLbjqh5ip/TljZrb3AQuDKYAIYO09L3TBRq/3EHk4shCDEkZkTqITmdGMLIIO7r8FbzfaiDappSNjIkpZcCqyCDo4WAJYkR8prTp4ADSBUCIX9uPY5epL5AJdyBWDRDYFHCWyCiXBObKwrh+nl4g2TiLVhSXW97g0v/MEHIQbCYeFmYAAAAAASUVORK5CYII=);
    border-top: 1px solid #f22613;
    border-bottom: 1px solid #f22613;
    color: #333; }
    .alert-box.success {
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAqFBMVEX////w8PDw8PDw8PDw8PDw8PDw8PDw8PDW1tbn5+ff398PnVjd3d3i4uIPnVjk5OQPnVjg4OAPnVgzqW8PnVgPnVjT09Pw8PDG4NOp1sBjvJHu7u4PmVYqp2ri6+YcomFHsn4bmlzHzsoPnFeuxbl9tJk0n2t/xqSVvqqNzK1ZqYKJuaJVt4c4rHQnnWPl5eXj4+MPm1fe3t6b0bfc3NxBo3TY2NjX19eKj23kAAAAFXRSTlMA8BCwcFCgkP4f3NDnrzCHoM8Qc/Avz3otAAAA9klEQVR4Xq2T2XKDMAwAMRACNGdbyUDus/d9/f+f1VHEiFamfcm+7qIZGTs4IWEcGeswURz6dGIbJCrp0MeC6QTBCADO2Hetokv+vNXbyvnLAc9v8cA+NH4/veAFEr/f7HIe0OJvETMKYhLlLw8fiNinICKxnHHCfr92QY8CcwwAloX41cFjSoElCnBU89pvkeCAeAPH4or89Bp1YG+g5uUOPQEP5wWbgZzjPRDiU1mTmD/wggyvGVspZgCP4rGvjrpYuAWFTP+sounzwPO7n8SnNEBdmGesGZLUV+6V/ZilLt7F+6/95BMxHf71cCZfefbf0zsl3w3QOjVy6QFpAAAAAElFTkSuQmCC);
    border-top: 1px solid #87d37c;
    border-bottom: 1px solid #87d37c;
    color: #333; }
#desc {
  font-size: 10px;
}
#quote {
  text-align: center;
  font-family: 'Courgette', cursive;
}
</style>
  </head>

  <body>
  <div class="row">

    <div class="large-12 columns">
      <div class="panel">
        <h1><a href="/">Secret Wall</a></h1>

        <% if current_user %>
          <form action='/sessions/<%= current_user.id %>' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='_method' value='delete'>
            <input type='submit' value='Log Out' class='round button secondary small' id='logout'>
          </form>

        <% elsif !current_user %>
        <form action="#" data-reveal-id="firstModal" class="round button small" id='login'>Log In</form>
        <%end%>
        <!-- Reveal Modals begin -->
        <div id="firstModal" class="reveal-modal tiny" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
          <h2 id="firstModalTitle">Log In</h2>

          <form action='/sessions' method='post'>
            <div class="large-12 columns">
              <input type='hidden' name='authenticity_token'>

            <label for='email'>Email</label>
              <input type='text' id='email' name='email'>
            <label for='password'>Password</label>
              <input type='password' id='password' name='password'>
              <input type='submit' value='Login' class='round button tiny' id='login_form'>
              </div>

          </form>

           <p class='register'><a href="#" data-reveal-id="secondModal">Not a member? Registet here!</a></p>

          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

        <div id="secondModal" class="reveal-modal tiny" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
          <h2 id="secondModalTitle">Register</h2>
          <form action='/users' method='post'>
            <div class="large-12 columns">
            <input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
            <label for='Nickname'>Nickname</label>
              <input type='text' id='nickname' name='nickname'>
            <label for='email'>Email</label>
              <input type='text' id='email' name='email'>
            <label for='password'>Password</label>
              <input type='password' id='password' name='password'>
            <label for='password_confirm'>Password Confirm</label>
              <input type='password' id='password_confirm' name='password_confirm'>
              <input type='submit' value='Register' class='round button tiny' id='login_form'>
              </div>
          </form>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
      </div>
    </div>


  </div>
  <p id='quote'>“Sometimes, the biggest secrets you can only tell a stranger.” <br> - Michelle Hodkin</p>

  <% if flash[:errors]%>
  <% flash[:errors].each do |e|%>
<div class="row">
  <div class="small-6 small-centered columns">
    <div data-alert class="alert-box alert">      
      <strong>Error</strong> -  <%= e %>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>
<%end%>
<% end %>
  <% if flash[:message]%>
<div class="row">
  <div class="small-6 small-centered columns">
    <div data-alert class="alert-box success">
      <strong>Yay!</strong> -  <%= flash[:message] %>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>
<% end %>
    <%= yield %>
    <%= javascript_include_tag "application.js" %>
  </body>
</html>